<nz-card nzTitle="Carriers" >
  <ng-container *ngIf="hasActiveCarriers | async; else noCarriers">
    <nz-table [nzData]="activeCarriers | async" nzSize="small" [nzShowPagination]="false">
      <thead>
      <tr>
        <th></th>
        <th>Carrier</th>
        <th>Test Applications</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let carrier of activeCarriers | async">
        <td [nzShowCheckbox]="true" (nzCheckedChange)="check(carrier, $event)"></td>
        <td>
          <atc-carrier-label [carrier]="carrier"></atc-carrier-label>
        </td>
        <td>

          <span *ngFor="let testApp of carrier.apps">
            <strong>{{testApp.name}}</strong><br/>
            <span *ngFor="let testSuite of testApp.testSuites">
              <span>&nbsp;&nbsp;&nbsp;&nbsp;{{testSuite.name}}</span><br/>
              <span *ngFor="let testCase of testSuite.testCases">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{testCase.name}}<br/></span>
            </span>
          </span>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </ng-container>

  <ng-template #noCarriers>
    <p>No Carriers</p>
  </ng-template>
</nz-card>