<nz-table [nzData]="events | async" nzSize="small" [nzShowPagination]="false">
  <thead>
  <tr>
    <th>Time</th>
    <th>Carrier</th>
    <th>Type</th>
    <th>Test App</th>
    <th>Test Suite</th>
    <th>Test Case</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let event of events | async">
    <td>{{event.timestamp | date:'hh:mm:ss'}}</td>
    <td>{{event.carrierId}}</td>
    <td>
      <nz-tag>{{event.type}}</nz-tag>
    </td>
    <td>{{event.testApp}}</td>
    <td>{{event.testSuite}}</td>
    <td>{{event.testCase}}</td>
  </tr>
  </tbody>
</nz-table>
