<nz-card nzTitle="Applications">
  <nz-spin [nzSpinning]="activeCarriersLoading | async">
    <ng-container *ngIf="(applications | async).length; else noApplications">
      <nz-tree [nzTreeTemplate]="node" [nzData]="applications | async" (nzClick)="select($event.node.origin)"></nz-tree>

      <br/>
      <div *ngIf="selected">
        this will be removed in future
        <strong>{{selected.title}}</strong>
        <p *ngFor="let carrier of selected.carriers">
          {{carrier}}<br/>
        </p>
      </div>
    </ng-container>
  </nz-spin>

  <ng-template #node let-node let-origin="origin">
      <span>
        {{ node.title }} ({{origin.carriers.length}})
      </span>
    <ng-container *ngIf="editable">
      <a (click)="add(node.origin)">add</a>
    </ng-container>
  </ng-template>

  <ng-template #noApplications>
    <p>No Applications</p>
  </ng-template>
</nz-card>