<nz-card nzTitle="Applications">
  <nz-spin [nzSpinning]="activeCarriersLoading | async">
    <ng-container *ngIf="apps.length; else noApplications">
      <nz-tree [nzData]="apps" [nzCheckable]="editable" (nzClick)="select($event.node.origin)"></nz-tree>

      <br/>
      <div *ngIf="selected">
        this will be removed in future
        <strong>{{selected.title}}</strong>
        <p *ngFor="let carrier of selected.carriers">
          {{carrier}}<br/>
        </p>
      </div>
    </ng-container>
  </nz-spin>

  <ng-template #noApplications>
    <p>No Applications</p>
  </ng-template>
</nz-card>