<div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="height-100vh width-100">
  <div nz-col nzSpan="6">
    <form nz-form [formGroup]="form" (ngSubmit)="login()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Invalid username">
          <nz-input-group nzPrefixIcon="user">
            <input nz-input type="email" formControlName="username" placeholder="Username"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Invalid password">
          <nz-input-group nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="password" placeholder="Password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button>Log in</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
