<div class="top-bar">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Active Carriers</nz-page-header-title>
        <nz-page-header-extra>
            <button nz-button nzType="danger" (click)="startAll()">Start All</button>
            <button nz-button nzType="default" (click)="stopAll()">Stop All</button>
        </nz-page-header-extra>
    </nz-page-header>
</div>

<div>
    <nz-table [nzData]="carriers">
        <thead>
        <tr>
            <th>Carrier</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let carrier of carriers">
            <td>
                <h2>{{carrier.app.name}}</h2>
                <p><strong>instanceId:</strong> {{carrier.id}}</p>

                <h3>Test Suites:</h3>
                <nz-list [nzDataSource]="carrier.app.testSuites" [nzBordered]="true">
                    <nz-list-item *ngFor="let testSuite of carrier.app.testSuites" nzNoFlex>
                        <h3>{{testSuite.name}}</h3>
                        <atc-settings-label title="Warm Up" [settings]="testSuite.warmUp"></atc-settings-label>
                        <atc-settings-label title="Settings" [settings]="testSuite.loadTest"></atc-settings-label>

                        <h3>Test Cases:</h3>
                        <ul>
                            <li *ngFor="let testCase of testSuite.testCases">
                                {{testCase.name}}
                            </li>
                        </ul>
                    </nz-list-item>
                </nz-list>
            </td>
            <td>
                <a (click)="start(carrier)">Start</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="stop(carrier)">Stop</a>
                <nz-divider nzType="vertical"></nz-divider>
            </td>
        </tr>
        </tbody>
    </nz-table>
</div>
