<h1>Active Instances</h1>


<nz-table [nzData]="instances">
    <thead>
    <tr>
        <th>Instance</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let instance of instances">
        <td>
            <p><strong>instanceId:</strong> {{instance.id}}</p>

            <h3>Test Suites:</h3>
            <nz-list [nzDataSource]="instance.app.testSuites" [nzBordered]="true">
                <nz-list-item  *ngFor="let testSuite of instance.app.testSuites" nzNoFlex>
                    <h4>{{testSuite.name}}</h4>
                    <atc-settings-label title="Warm Up" [settings]="testSuite.warmUp"></atc-settings-label>
                    <atc-settings-label title="Settings" [settings]="testSuite.loadTest"></atc-settings-label>

                    <h4>Test Cases:</h4>
                    <ul>
                        <li *ngFor="let testCase of testSuite.testCases">
                            {{testCase.name}}
                        </li>
                    </ul>
                </nz-list-item>
            </nz-list>
        </td>
        <td>
            <a (click)="start(instance)">Start</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="shutdown(instance)">Shutdown</a>
            <nz-divider nzType="vertical"></nz-divider>
        </td>
    </tr>
    </tbody>
</nz-table>
