<nz-page-header [nzGhost]="false">
  <nz-page-header-title>
    Create Flight
  </nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" [disabled]="true">Start</button>
    <button nz-button nzType="default" [disabled]="true">Save</button>
    <button nz-button nzType="default" [disabled]="true">Cancel</button>
  </nz-page-header-extra>
</nz-page-header>

<div nz-row nzGutter="10" class="lower-block">
  <div nz-col nzSpan="8">
    <atc-app-active></atc-app-active>
  </div>

  <div nz-col nzSpan="16">
    <nz-card nzTitle="Flight Plan">

    </nz-card>
  </div>
</div>


