<nz-page-header [nzGhost]="false">
  <nz-page-header-title>Active Carriers</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="startAll()" [disabled]="isStartDisabled | async">Start All</button>
    <button nz-button nzType="default" (click)="stopAll()" [disabled]="isStopDisabled | async">Stop All</button>
  </nz-page-header-extra>
</nz-page-header>

<div nz-row nzGutter="10" class="lower-block">
  <div nz-col nzSpan="8">
    <atc-app-active></atc-app-active>
  </div>

  <div nz-col nzSpan="16">
    <atc-carrier-active-table-card></atc-carrier-active-table-card>
  </div>
</div>


