<nz-page-header [nzGhost]="false">
  <nz-page-header-title>Active Carriers</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="danger" (click)="startAll()">Start All</button>
    <button nz-button nzType="default" (click)="stopAll()">Stop All</button>
  </nz-page-header-extra>
</nz-page-header>

<div nz-row nzGutter="20" class="lower-block">
  <div nz-col nzSpan="6">
    <nz-card nzTitle="Applications">
      <ng-container *ngIf="tree.length; else noApplications">
        <nz-tree [nzData]="tree" (nzClick)="select($event.node.origin)" nzCheckable></nz-tree>

        <div *ngIf="selected">
          <strong>{{selected.title}}</strong>
          <p *ngFor="let carrier of selected.carriers">
            {{carrier.id}}
          </p>
        </div>
      </ng-container>

      <ng-template #noApplications>
        <p>No Applications</p>
      </ng-template>
    </nz-card>
  </div>

  <div nz-col nzSpan="18">
    <nz-card nzTitle="Carriers">
      <ng-container *ngIf="carriers.length > 0; else noCarriers">
        <nz-table [nzData]="carriers" nzSize="small" [nzShowPagination]="false">
          <thead>
          <tr>
            <th></th>
            <th>Carrier</th>
            <th>Application</th>
            <th>Test Suites</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let carrier of carriers">
            <td [nzShowCheckbox]="true" [(nzChecked)]="carrier.selected"></td>
            <td>
              {{carrier.id}}<br/>
              <a>{{carrier.uri}}</a>
            </td>
            <td>
              <atc-carriers-app-label [app]="carrier.app"></atc-carriers-app-label>
            </td>
            <td>
              <p *ngFor="let testSuite of carrier.app.testSuites">
                <strong>{{testSuite.name}}</strong> — <span
                  *ngFor="let testCase of testSuite.testCases">{{testCase.name}} </span>
              </p>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </ng-container>

      <ng-template #noCarriers>
        <p>No Carriers</p>
      </ng-template>
    </nz-card>
  </div>
</div>


