<div class="top-bar">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Dashboard</nz-page-header-title>
    </nz-page-header>
</div>

<div nz-row>
    <div nz-col [nzSpan]="8">
        <nz-card class="card" nzTitle="Latest Flights" [nzExtra]="testRunsActions">
            <ng-template #testRunsActions>
                <a routerLink="/flights/all">More</a>
            </ng-template>

            <p>No flights yet</p>
        </nz-card>
    </div>

    <div nz-col [nzSpan]="8">
        <nz-card class="card" nzTitle="Active Carriers" [nzExtra]="carrierActions">
            <ng-template #carrierActions>
                <a routerLink="/carriers/active">More</a>
            </ng-template>

            <p *ngIf="!carriers.length">
                No carriers
            </p>

            <p *ngFor="let carrier of carriers">
                <strong>{{carrier.app.name}}</strong><br/>
                {{carrier.id}}<br/>
                <a>{{carrier.uri}}</a>
            </p>
        </nz-card>
    </div>
</div>


