
<ul nz-menu [nzMode]="'inline'" nzTheme='dark'>
  <li nz-menu-item nz-tooltip nzPlacement="right" routerLink="/dashboard" routerLinkActive="ant-menu-item-selected">
    <span title>
      <i nz-icon type="home"></i>
      <span>Dashboard</span>
    </span>
  </li>

  <li nz-submenu>
    <span title>
      <i nz-icon type="folder"></i>
      <span>Settings</span>
    </span>
    <ul>
      <li nz-menu-item routerLink="/setting/account" routerLinkActive="ant-menu-item-selected">
        Account Settings
      </li>
    </ul>
  </li>
</ul>

